In [142]:
# pip install pandas

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [12]:
# File to Load 
file_to_load = "C:\\Users\\cdark\\Desktop\\2021 NU Data Science and Visualization\\05 - Class Work\\19-Project-2\Project work\\Datasets\\01 - Original\\draft.csv"

In [13]:
# Read the Draft data
raw_draft_data = pd.read_csv(file_to_load)
raw_draft_data.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN

In [14]:
# Determine the number of entries in data set
count_draft_data = raw_draft_data.loc[:,['draft']]
count_draft_data.count()

draft    12140
dtype: int64

In [15]:
# Look over the dtypes of the dataset
print(raw_draft_data.dtypes)

playerId              int64
draft                 int64
round               float64
pick                  int64
draftTradeValue     float64
draftTeam            object
position             object
teamId                int64
nameFirst            object
nameLast             object
nameFull             object
collegeId             int64
nflId               float64
combineId           float64
college              object
heightInches        float64
weight              float64
dob                  object
ageAtDraft          float64
playerProfileUrl     object
homeCity             object
homeState            object
homeCountry          object
highSchool           object
hsCity               object
hsState              object
hsCountry            object
dtype: object

In [16]:
# Redefine the table with needed colums
raw_draft_data_1 = raw_draft_data.loc[:,['playerId' ,'draft', 'round', 'pick', 'draftTradeValue', 'draftTeam' , 'position', 'teamId']]
raw_draft_data_1.head()

   playerId  draft  round  pick  draftTradeValue draftTeam position  teamId
0  19770001   1977    1.0     1           3000.0        TB       RB    4900
1  19770002   1977    1.0     2           2600.0       DAL       RB    1200
2  19770003   1977    1.0     3           2200.0       CIN       DE     920
3  19770004   1977    1.0     4           1800.0       NYJ       OT    3430
4  19770005   1977    1.0     5           1700.0       NYG       DE    3410

In [38]:
# Filter table based on decade and team (ATL)
raw_draft_data_2 = raw_draft_data_1[(raw_draft_data_1['draft']>=1970) & (raw_draft_data_1['draft']<=2010) & (raw_draft_data_1['draftTeam']=='ATL')]
raw_draft_data_2.head()

    playerId  draft  round  pick  draftTradeValue draftTeam position  teamId
5   19770006   1977    1.0     6           1600.0       ATL       OT     200
19  19770020   1977    1.0    20            850.0       ATL       DT     200
35  19770036   1977    2.0    36            540.0       ATL       OG     200
62  19770063   1977    3.0    63            276.0       ATL       DE     200
88  19770089   1977    4.0    89            145.0       ATL        K     200

In [39]:
# if then statement to create a dictionary to count the number of times a postion was drafted

raw_draft_data_3 = raw_draft_data_2['position'].value_counts()

raw_draft_data_4 = pd.DataFrame(raw_draft_data_3, columns=['position'])

raw_draft_data_4 = raw_draft_data_4.rename(columns={"position":"count"})
raw_draft_data_4 = raw_draft_data_4 .rename_axis("position")

raw_draft_data_5 = raw_draft_data_4.head(5)
raw_draft_data_5

          count
position
DB           56
LB           54
WR           43
RB           33
DE           22

In [40]:
# export the data to be used on d3 bar chart

raw_draft_data_5.to_csv("C:\\Users\\cdark\\Desktop\\2021 NU Data Science and Visualization\\05 - Class Work\\19-Project-2\\Project work\\Radial Bar Chart\\Draft Results.csv")